resources:
  - name: PrismaNodePool
    type: container.v1.nodepool
    properties:
      name: prisma-node-pool
      initialNodeCount: {{ properties['initialNodeCount'] }}
      autoscaling:
        enabled: true
        minNodeCount: {{ properties['minNodeCount'] }}
        maxNodeCount: {{ properties['maxNodeCount'] }}
      config:
        oauthScopes:
          - https://www.googleapis.com/auth/compute
          - https://www.googleapis.com/auth/devstorage.read_only
          - https://www.googleapis.com/auth/logging.write
          - https://www.googleapis.com/auth/monitoring
  - name: PrismaCluster
    type: container.v1.cluster
    properties:
      description: The kubernetes cluster for Prisma
      name: prisma-cluster
      clusterIpv4Cidr: 10.0.0.0/24
      zone: {{ properties['zone'] }}
      nodePools:
        - ${ref.PrismaNodePool.selfLink}
      addonsConfig:
        httpLoadBalancing:
          disabled: false
        HorizontalPodAutoscaling:
          disabled: false
        KubernetesDashboard:
          disabled: true
        NetworkPolicyConfig:
          disabled: false
      NetworkPolicy:
        enabled: true
        provider: CALICO
  - name: PrismaClusterType
    type: deploymentmanager.v2beta.typeProvider
    properties:
      options:
        validationOptions:
          schemaValidation: IGNORE_WITH_WARNINGS
        # These mappings initialize the type for use within the executors GCP platform
        inputMappings:
          - fieldName: name
            location: PATH
            methodMatch: ^(GET|DELETE|PUT)$
            value: $.ifNull($.resource.properties.metadata.name, $.resource.name)
          - fieldName: metadata.name
            location: BODY
            methodMatch: ^(PUT|POST)$
            value: $.ifNull($.resource.properties.metadata.name, $.resource.name)
          - fieldName: Authorization
            location: HEADER
            value: >
              $.concat("Bearer ", $.googleOauth2AccessToken())

outputs:
  - name: clusterType
    value: PrismaClusterType::api/v1
